body {margin:0px}
header
{
padding:2px;
width:2px:
heigth:2px;
text-align:center;
backgroud-color:yellow;
}
nav
{
text-align:center;
background-color:green;
font-size:30px;
}
.gallery
{

padding:150px;
height:auto;
width:255px;
border:1px solid black;
padding:20px;
margin:5px;
float:left;
}
nav
{
word-spacing:155px;
color:black;
}
.hello
{
font-size:30px;
color:blacks;
}

.hi
{

font-size:20px;
padding:20px;
}
footer
{
text-align:center;
}
img
{
height:150px;
width:200px;
align-center;
}
.top
{
font-size:30px;
}

article
{
padding:10px;
display:inline-block;
font-size:15px;
}

.price
{

}
.status
{
color:red;
}
footer{
background-color:green;
color:black;
}

article
{
padding:10px;
    display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;


font-size:15px;
}

.price
{

}
.status
{
color:red;
}
footer{
background-color:green;
color:black;
}
header
{
background-color:green;
}
